__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.DS_Store
.env
.env.*

venv/
venv_*/
**/venv/
**/venv_*/

data/
assets/plots/
assets/reports/

models/
*.joblib
*.keras
*.h5

*.db
*.sqlite
*.sqlite3

core/hft/*.so
